body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.166667px;
  line-height: 1.7em;
  color: #5b6066;
  background-color: rgb(236, 227, 227);
  width:100%
  
}

.footer {
  padding: 20px 0px;
  background: #000;
  height: 75px;
  position: fixed;
  bottom: 0;
  width: 100%
}

.alert-container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
}



.nav-link:hover,
.NavDropdown:hover {
  background-color: rgb(215, 216, 202);
  color: rgb(26, 58, 70);

}
